@import "./varibel";
@import "./genral";
@import "./nav";
@import "./товары";
@import "./btn";
@import "./Часто";
@import "./Онас";
@import "./footer";
@import "./media";

.conteiner{
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}